<!-- // Une portion de se code a ete pris de: https://github.com/carolinebarriere/carolinebarriere.github.io/tree/master/SEG3125-Module6-SurveyAnalysis -->

<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>

    <h2>Question 1</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].q1 %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>

    <h2>Question 2</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].q2 %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>

    <h2>Question 3</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].q3 %> click(s):  <%= results[2][i].count %></li>
    <% } %>    
    </ul>

    <h2>Question 4</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].q4 %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>

    <h2>Question 5</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].q5 %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>

    <h2>Question 6</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].q6 %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>

    <h2>Commentaire</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].comments %> :  <%= results[6][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>